@font-face
{
    font-family: Monaco;
    src: url(Monaco.tff);
}

a:link
{
    text-decoration: none;
    color:#5577ff;
}
a:hover.recent
{
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
a:visited
{
    color:#4488ee;
    text-decoration:none;
}
a:active
{
    text-decoration: none;
    color:#ff6677;
}
div.quote
{
    margin:50px;
    display: block;
    background:
        url('.\\images\\quotes.png') left top no-repeat;
    border-left: 3px solid #ccc;
    padding:10px;
    text-indent: 23px;
    white-space: pre;
    width: 50px;
    margin:20px;
    background-repeat: no-repeat;
    font-family: 'Mono';

}
blockquote
{
    display: block;
    background:
        url('.\\images\\quotes.png') left top no-repeat;
    border-left: 3px solid #ccc;
    padding:10px;
    text-indent: 20px;
    white-space: pre;
    width: 85%;
    word-break: break-word;
    margin:20px;
    background-repeat: no-repeat;
    font-family: 'Mono';
    font-size: 10pt;
}
blockquote.code
{

    background:
        url('.\\images\\code.png') left top no-repeat;
    font-family: Monaco;
    font-size: 8pt;
    white-space: pre;
    padding:10px;
    padding-left:35px;
    padding-top:20px;
    word-break: break-word;
    width: 85%;
    border-radius: 10px;
    moz-border-radius: 10px;
}

code
{
    padding:5px;
    font-family: Monaco;
    font-size:8pt;
}
form
{
    margin: 0;
    padding: 0;
    display:inline;
}
fieldset
{
    border:0px;
    background: #ffeecc;
}
fieldset legend
{
    float:left;
    size: 50px;
    padding: 5px;
}

body
{
    background: url('images/background.png') repeat;
    background-attachment: fixed;
    font-family:Monaco;
    font-size:12pt;
    color:#171717;
    margin-top:25px;
}
h1,h2,h3,h4,h5,h6
{
    font-family: Arial;
    margin-top:0px;
    margin-bottom:0px;
    color: #171717;
}
h1
{
    font-size: 36pt;
    text-transform:uppercase;
    text-decoration:none;
    font-family: Arial;
    font-weight:bold;
}
h2
{
    font-size: 24pt;
    text-transform:uppercase;
    text-decoration:underline;
    font-family: Arial;
    font-weight:bold;
}
h3
{
    font-size: 18pt;
}
h4
{
    font-size: 14pt;
}
h5
{
    font-size: 12pt;
}
h6
{
    font-size: 10pt;
}
input,textarea
{
    font-family: Arial, Helvetica;
    font-size:12pt;
}
input,textarea
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
input[type=text]:focus, textarea:focus,input[type=password]:focus {
  box-shadow: 0 0 5px rgba(255, 152, 0, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(255, 152, 0, 1);
}
input[type="text"],input[type="password"]
{
    height: 30px;
}
.navHR
{
    width: 50%;
    border: 2px;
    margin-left: 0%;
    border-style:dashed;
}
#header:hover
{
    text-decoration: none;
}
#header h2
{
    color:#4488ee!important;
}
#sidebar-posts
{
    font-size:20px;
}
#item
{
    margin-left:15%;
    width:15%;
    position:fixed;
    top:2%;
    padding: 25px;
    font-size:25px;
    margin-bottom: 25px;
    font-family:Monaco, Helvetica;
    background:#D3D3D3;

    box-shadow: 3px 3px 1px #193441;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
#title,#author
{
    display:inline;
}
#navigation
{
    position:fixed;
    width:10%;
    letter-spacing:0px;
    top:25px;
    font-family: Arial;
    font-size:16px;
}
#entry,.project
{
    display: inline-block;
    margin-left:10%;
    width:85%;
    top:2%;
    padding:20px;
    font-size:25px;
    margin-bottom: 25px;
    font-family:Arial, Helvetica;
    background:#D3D3D3;

    box-shadow: 3px 3px 1px #193441;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.project
{
    background:#CFF09E;
}
#admin_area
{
    position:fixed;
    left:25%;
    right:25%;
}
.commentsbox
{
    border-style: solid;
    border-right-style: none;
    border-top-style: none;
    /*border-bottom-style: none;*/
    border-width: 1px;
    width: 90%;
    padding-top:20px;
    padding-bottom:20px;
    border-left-style: none;
}
.recent
{
    font-weight: bolder;
    font-family: Helvetica;
    color:#110011;
    height: 32px;
}
.recentTitles
{
    font-family: Arial;
    font-size: 15px;
}
.userComment
{
    padding:10px;
}
#auth
{
    position:absolute;
    top:50%;
    left:50%;
    margin: -50px;
    text-align:center;
    padding-top:50px;
}


#para
{
    margin-top:0px;
    font-size:15px;

}
#author
{
    font-size:20px;
    color:#25964F;
}
#comments
{
    display:inline;
    font-size:20px;
}
#date
{
    display:inline;
    text-transform:uppercase;
    font-size: 20px;
    font-family: Helvetica;
    color:#0B486B;
    font-weight:bold;
}
.tags
{
    display:inline;
    font-size: 15px;
    margin-left: 25%;
    margin-right:25%;
    font-family: Verdana;
}
.tag
{
    display:inline;
    font-size: 15px;
    margin-left: 5px;
    font-family: Verdana;
}
#prev
{
    margin-left:15%;
    padding-right: 50%;
}
#next
{
    /*float:left;*/
}
#deletePost
{
    width:25%;
    display:inline;
}
#del
{
    width:25%;
    display:inline;
}
#delConf
{
background:#dd0011;
margin-left:25%;
}
#footer
{
    -webkit-border-top-left-radius: 50px;
    -webkit-border-top-right-radius: 50px;
    -moz-border-radius-topleft: 50px;
    -moz-border-radius-topright: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    position:fixed;
    width: 10%;
    left:0;
    bottom:0;
    height:25px;
    background:#FF9680;
    text-align:center;
    font-size:10px;
}
#banner
{
    color:white;
    padding: 20px;
    position:fixed;
    width: 21%;
    height:70px;
    right:0;
    top:0;
    background:#FF9640;
    text-align:center;
    font-size:15px;

    -webkit-border-bottom-left-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomleft: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
#commentError
{
     width: 35%;
     font-size:15px;
     background: #ff4444;
}
.comments
{
    margin-left:10%;
}
.loadComments
{

    font-family: Arial, Helvetica;
    font-size:medium;
    float: right;
    margin-top: 12px;
}
.commentDate
{
    font-family: Arial, Helvetica;
    font-size: small;
}
#allComments
{
    font-family:Arial, Helvetica;
}
#post
{
    display: inline;
}
#first-setup
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    min-width: 475px;
    background-color: #171717;
    padding: 20px;
    max-width: 25%;
}
#setup-header
{
    margin:10px;
    color: #D3D3D3!important;
}
#setup-form table
{
    color:#D3D3D3;
    border-spacing: 15px 15px;
}
#setup-form input[type='submit']
{
    left: 62%;
}

input[type='submit']
{
    background-color: #FF9800;
    border: none;
    padding: 9px;
    color: #FFF;
    position: relative;
}
#adminLoginBtn
{
	float:right;
}
